
html
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
   
}


.text-part 
{
  text-align: center;
}

body 
	{ 
	background: #717580;
	text-align: center; 
	}

#projets h5 
{
	text-align:center;
	text-decoration: underline;
}


.navbar 
{
	background :transparent;
}

.text-nav
{
	text-align: center; 
	
}

/* Pour que l image soit responsiv */
.bg5 
 {
 
  background-image: url("../images/back3.jpeg");

 
  height: 100%;
  width : 100%;
 
 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.navbar-nav mx-auto
{
	text-decoration: underline;
}

a ,a:hover  
{	  
  color: white;
  margin-left: 2.5em;
}

.centered {
 
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);  
  padding-bottom: 10%;
  padding-top: 10%;
} 

header  h1
{
	font: 70px/1.1em 'opensans-bold', sans-serif;
	color:#fff
}

h1
{
	color:white;
}


.text
{
	text-align: justify;
    display: block;
    font-size: 18px;


    padding: 15%;
    padding-top: 0;
    padding-bottom: 0;
    
    
    margin-top: 0;
    margin-bottom: 0;

    color: black;
    width: auto;
}





.social-icons 
{
  text-align: center;
  }  
  
.social-icons li {
  display:inline-block;
  list-style-type:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  }
.social-icons li a {
  border-bottom: none;
  }
.social-icons li img {
  width:70px;
  height:70px;
  margin-right: 90px;
}
.social-icons li:hover {
  transform: scale(1.2); 
 
 
}

.card-deck
{
	text-align: left
}


.btn:hover {
   background-color: blue;
}


/*<!-- POUR LA DOC -->*/

#doc 
{
	color:black;
}

.container h1
{
	color:black;
	text-decoration:underline;
}

.container h2
{
	color:black;
	text-decoration:underline;
	text-align:justify;
	margin-left:15%;
	margin-right:25%;
}

.container h4
{
	color:black;
	text-decoration:underline;
	text-align:justify;
	margin-left:17%;
	margin-right:25%;
}



.container p
{
	text-align:justify;
	margin-left: 15%;
	margin-right: 15%;
	font-size:18px;
}

.ph4
{
  text-align:justify;
	margin-left: 17%;
	margin-right: 17%;
	font-size:18px;
}

.container a
{
	margin-left:2em;
}
#navbarNavAltMarkup2 a
{
	margin-left:2%;
	margin-left: 0em;
}































